<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Nodemailer Email Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Dashboard (Users List)</h1>
        <h5>Hey you are Logged as - <strong><%=loggedInUser.name%></strong></h5>
        <div style="width:90%"><%= token %></div>
            <table border="1">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date</th>
                </tr>
                <% users.forEach(function(user){ %>
                    <tr>
                        <td>
                            <%- user.name %>
                        </td>
                        <td>
                            <%- user.email %>
                        </td>
                        <td>
                            <%- user.date %>
                        </td>
                    </tr>
                    <%});%>
            </table>
            <div>
                <a href="<%= baseUrl%>">Go to Home </a>
            </div>
            <div>
                <form action="<%= baseUrl%>/logout" method="post">
                    Click here to Logout <button>Logout</button>
                </form>
            </div>
    </div>
</body>

</html>